@media only screen and (max-width: 576px) {
  .new-chat {
    padding: 17px 23px;
    display: flex;
    gap: 12px;
  }

  .arrow-down {
    padding: 8px 10px;
    background-color: transparent;
    border: 1px solid #fff;
  }

  .question-answer-layout {
    margin: 12px 0;
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }

  .question-answer-layout::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .scroll {
    overflow-y: scroll;
    -ms-overflow-style: none; /* for Internet Explorer, Edge */
    scrollbar-width: none; /* for Firefox */
  }
  .scroll::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }

  .mobile-line {
    height: 1px;
    background-color: #fff;
    margin-top: 12px;
  }
}
